@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
 ::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
} 


.nav-bar .logo {
  font-family: var(--font-title);
  font-size: 40px;
}
.nav-bar {
  padding: 15px 0;
}

.nav-bar ul li {
  font-family: var(--font-poppins);
}

.nav-block,
.footer-block {
  position: absolute;
  z-index: -10;
  background-color: black;
  width: 120vw;
  left: -15vw;
  height: 25vh;
  filter: blur(50px);
}

.nav-block {
  top: -7vh;
}

.footer-block {
  bottom: -8vh;
}

h1 {
  font-family: var(--font-poppinsItalic);
  font-weight: 400;
  font-style: italic;
  font-size: 75px;
}

h2, h3 {
  font-family: var(--font-poppins);
  font-weight: 400;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.70);
  text-shadow: 8px 0 4px rgba(255, 255, 255, 0.40);
  color: #ffffff;
}

p {
  font-family: var(--font-poppins);
  font-size: 16px;
}

.quote {
  font-family: var(--font-poppinsItalic);
  font-weight: 300;
  font-style: italic;
  text-align: left;
}

h2 {
  font-size: 70px;
}

h3 {
  font-size: 60px;
}

.home-section {
  background-image: url(/Home.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.img-wrapper {
  position: relative;
  z-index: 1;
  z-index: 55;
}

.img-wrapper::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 30px;
  width: 500px;
  height: 100%;
  border: 2px solid white;
  z-index: -1;
}

.img-wrapper img {
  display: block;
  max-width: 500px;
}

.about-section h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.about-section p {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.70);
  line-height: 26px;
  letter-spacing: 1.7px;
  font-size: 16px;
}